body{
    background: url(../img/fondo.jpg) no-repeat fixed center center #FDAE25;
	background-size: cover; /*Imagen de fondo se ajuste a la pagina*/
}

h1{
color: #006680;
text-align:center;
}

h4{
	color:#006680;
}

nav{
    border-radius:5px;
   	overflow:hidden;
    padding:20px;
    width:1250px;
	background:#006680;
	margin:auto;
}

nav ul{
    list-style:none;
    margin:0 5px 0 5px;
    padding:0;
	float:right;
}

nav ul li{
	float:left;
	list-style-type: none;
	padding: 15px;
	margin: 1px;
	text-align:right;
	font-size:24px;
	color:#FFFFFF;  
}

nav ul li:hover{
	/*Cuando pase sobre la opcion del menu*/
 	background-image:radial-gradient(#01A3CB, #006A85);
	border-radius:5px;
    box-shadow:  1px -1px 0px #999;
}

header{
	margin:auto;
	width: 1100px;
	height: 300px;
	background-image:radial-gradient(#B3B3B3, #FFFFFF);
	border-radius:20px;
}

#contenido{
	width: 1250px;
	height: auto;
	margin: auto;
	margin-top:20px;
	background-color:#FFFFFF;
	border-color: #006680;
}

section{
	width: 997px;
	background-image:linear-gradient(to top,#ffffff, #f0f0f0);
	height: 700px;
	float: left;
	margin-top: 15px;
	border:solid;
	border-right:none;
	border-width: 1px;
	border-color:#005B72;
}

aside{
	width: 248px;
	background: #F2B80D;
	height: 698px;
	float: left;
	margin-top: 15px;
	border:solid;
	border-radius: 2px;
	border-width: 2px;
	border-color:#006680;
}

#noticia{
	margin-top: 0px;
	width: 247px;
	background: #006680;
	height: 50px;
	float: left;
	color:#FFFFFF;
	text-align:center;
	font-weight:bold;
}

aside div{
	padding-top: 60px;
}

	
	
}


/*clases*/
.menu:link{
color: white; 
text-decoration: none;
}
.menu:visited{
color: white; 
text-decoration: none;
}
.menu:active{
color: white; 
text-decoration: none;
}


